/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*
 * Typography
 */

h1 {
    margin: 20px 0;
}

/* Sidebar navigation */

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/* Placeholders */

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pagination {}

.pagination a {
    text-align: center;
    padding: 10px;
    border: 1px solid #0275d8;
    margin: 5px;
    border-radius: .25rem;
}

.pagination a:hover {
    background: #0275d8;
}

.pagination strong {
    padding: 10px;
    margin: 5px;
}